@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap");
@import "../../node_modules/react-day-picker/src/style.css";

html,
body {
  height: 100%;
  font-family: "Kumbh Sans", sans-serif;
}

#root {
  height: 100%;
}

.DayPicker {
  background: white;
  width: 100%;
}
.DayPicker-wrapper,
.DayPicker-Day {
  outline: none;
}
.DayPicker-Month {
  width: 90%;
}
.DayPicker-Footer {
  display: flex;
  justify-content: center;
}
.DayPicker-Day {
  padding: 0 !important;
}
