ol {
  list-style-type: none;
}

li {
  position: relative;
  margin: 0;
  padding-bottom: 1em;
  padding-left: 20px;
}

li:before {
  border: 1px dashed #ffffff;
  content: "";
  position: absolute;
  bottom: 0px;
  top: 0px;
  left: 5px;
}

li:after {
  border: 1px solid #ffffff;
  border-radius: 50%;
  content: "";
  position: absolute;
  left: 0;
  top: 4px;
  height: 12px;
  width: 12px;
}

li.green:after {
  background-color: #48bb78;
}

li.blue:after {
  background-color: #4299e1;
}
